{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class="container">
<br>
<a href="{% url 'password_change' %}">Need to change password?</a>
<hr>
<h1>Track your progress</h1>
<h3>Scenarios</h3>
<br>
<p>The following table presents your results on judgment tasks in situations (scenarios) in Culture TIPS.
    The table lists situations in your course as rows in a table. </p>
<p>For each listed situation, you can see the percentage that indicates, for the total of all options presented in that situation's judgment task, in what proportion of responses the user's slider fell within the zone or band of expert opinions.
    If a user's slider fell outside this band, no matter whether close or far away, their response was counted as "not in agreement."</p>
<ul class="collection">
    {% for result in results %}
        <li class="collection-item">
            <h4>{{ result.0.name }} | {{ result.1.1 }} % {% if result.1.1 < 30 %}<i class=" red small material-icons">sentiment_very_dissatisfied</i>
            {% elif result.1.1 > 60 %}<i class=" green small material-icons">sentiment_very_satisfied</i>
                {% else %}<i class=" yellow small material-icons">sentiment_neutral</i>
            {% endif %}</h4>
        </li>
    {%  endfor %}
</ul>
</div>
{% endblock %}